<div class="impact-edit">
    <h1>{{title}}</h1>
    <p *ngIf="this.impactId && !impact"><em>Loading…</em></p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <p>
            <mat-error *ngIf="form.invalid && form.hasError('isDupeImpact')">
                <strong>ERROR</strong>:
                An impact with the same <i>description</i> already exists.
            </mat-error>
        </p>

        <!-- Name -->
        <mat-form-field>
            <mat-label>Description:</mat-label>
            <input matInput formControlName="description" required
                   placeholder="Type a description"
                   pattern="^[a-zA-Z\s]+$">
            <mat-error *ngIf="this.form.controls['description'].errors?.['required']">
                Description is required.
            </mat-error>
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary"
                    type="submit" [disabled]="!form.valid">
                {{ this.impactId ? "Save" : "Create" }}
            </button>
            <button mat-flat-button color="secondary"
                    [routerLink]="['/impacts']">
                Cancel
            </button>
        </div>
    </form>
</div>
