################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASPAndAngular/MTAIntranetAngular/MTAIntranetAngular/.angular/cache/
ASPAndAngular/MTAIntranetAngular/MTAIntranetAngular/dist/
ASPAndAngular/MTAIntranetAngular/MTAIntranetAngular/node_modules/
ASPAndAngular/MTAIntranetAngular/v17/
ASPAndAngular/MTAIntranetAngular/.vs/
ASPAndAngular/MTAIntranetAngular/.vs/MTAIntranetAngular/v17
*.v2
ASPAndAngular/MTAIntranetAngular/MTAIntranetAngular.API/obj/Debug/net7.0/MTAIntranetAngular.API.assets.cache
