<div class="category-edit">
    <h1>{{title}}</h1>
    <p *ngIf="this.categoryId && !category"><em>Loading…</em></p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <p>
            <mat-error *ngIf="form.invalid && form.hasError('isDupeCategory')">
                <strong>ERROR</strong>:
                A category with the same <i>name</i> already exists.
            </mat-error>
        </p>

        <!-- Name -->
        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" required
                   placeholder="Type a name"
                   pattern="^[a-zA-Z\s]+$">
            <mat-error *ngIf="this.form.controls['name'].errors?.['required']">
                Name is required.
            </mat-error>
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary"
                    type="submit" [disabled]="!form.valid">
                {{ this.categoryId ? "Save" : "Create" }}
            </button>
            <button mat-flat-button color="secondary"
                    [routerLink]="['/categories']">
                Cancel
            </button>
        </div>
    </form>
</div>
