################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASPAndAngular/MTAIntranetAngular/MTAIntranetAngular/.angular/cache/16.2.1
/ASPAndAngular/MTAIntranetAngular/MTAIntranetAngular/.angular/cache/16.2.1
