@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the MTA Intranet</h1>
    <p><i>This site is under construction.  Please report any errors to the ITS helpdesk</i></p>
</div>
