<div class="row">
    <div class="col">
        <label id="useridlabel" hidden>User ID</label>
        <input class="form-control" required id="userid" hidden />
    </div>
    <div class="col">
        <label id="grouplabel" hidden>Access Level</label>
        <input class="form-control" required id="group" hidden />
    </div>
</div>