@model MTAIntranet.MVC.Models.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "Add Category";
}

<div class="text-center">
    <h1 class="display-4">Add Category</h1>
</div>

<form asp-controller="Tickets" asp-action="AddCategory">
    <div class="row">
        <div class=col>
            <label asp-for="@Model.Name"></label>
            <input class="form-control" asp-for="@Model.Name" />
            <span asp-validation-for="@Model.Name"></span>
        </div>
        <div class="col"></div>
    </div>
    <button class="btn btn-primary mt-2" type="submit">Add Category</button>
</form>