@model IEnumerable<ApprovalState>
@{
    ViewData["Title"] = "Approval States";
}

<div class="text-center">
    <h1 class="display-4">Approval States</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Approval State ID</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ApprovalState approvalState in Model)
        {
            <tr>
                <td>@approvalState.ApprovalStateId</td>
                <td>@approvalState.Name</td>
                <td><a class="btn btn-secondary" href="UpdateApprovalState/@approvalState.ApprovalStateId">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" href="AddApprovalState">Add New Approval State</a>