@model MTAIntranet.SQL.Entities.Category
@{
    ViewData["Title"] = "Delete Category";
}

<div class="text-center">
    <h1 class="display-4">Delete Category</h1>
</div>

@if (Model is not null)
{
    <form asp-controller="Tickets" asp-action="DelCategory">

        <input class="form-control" type="hidden" asp-for="@Model.CategoryId" />

        <div class="row">
            <div class="col">
                <label asp-for="@Model.Name"></label>
                <input class="form-control" asp-for="@Model.Name" readonly />
                <div class="col"></div>
            </div>
        </div>
        <button class="btn btn-danger mt-2" type="submit">Delete Ticket Type</button>
    </form>
}
else
{
    <h2>Ticket Type ID Not Found</h2>
}