@model MTAIntranet.SQL.Entities.Impact
@{
    ViewData["Title"] = "Delete Impact";
}

<div class="text-center">
    <h1 class="display-4">Delete Impact</h1>
</div>

@if (Model is not null)
{
    <form asp-controller="Tickets" asp-action="DelImpact">

        <input class="form-control" type="hidden" asp-for="@Model.ImpactId" />
        <div class="row">
            <div class="col">
                <label asp-for="@Model.Description"></label>
                <input class="form-control" asp-for="@Model.Description" readonly />
            </div>
            <div class="col"></div>
        </div>
        <button class="btn btn-danger mt-2" type="submit">Delete Impact</button>
    </form>
}
else
{
    <h2>Impact ID Not Found</h2>
}