@model MTAIntranet.MVC.Models.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "Update Category";
}

<div class="text-center">
    <h1 class="display-4">Update Category</h1>
</div>

@if (Model is not null)
{
    <form asp-controller="Tickets" asp-action="UpdateCategory" method="post">

        @*<input class="form-control" type="hidden" asp-for="@Model.TicketTypeId" />*@

        <div class="row">
            <div class="col">
                <label asp-for="@Model.Name"></label>
                <input class="form-control" asp-for="@Model.Name" />
            </div>
            <div class="col"></div>
        </div>
        <button class="btn btn-primary mt-2" type="submit">Update Category</button>
    </form>
}
else
{
    <h2>Ticket Type ID Not Found</h2>
}