@model ResourceMonitor.Data.Website

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Website</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServerName" class="control-label"></label>
                <input asp-for="ServerName" class="form-control" />
                <span asp-validation-for="ServerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteName" class="control-label"></label>
                <input asp-for="WebsiteName" class="form-control" />
                <span asp-validation-for="WebsiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipients" class="control-label">Recipients (emails separated by commas - no spaces)</label>
                <input asp-for="Recipients" class="form-control" />
                <span asp-validation-for="Recipients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousState" class="control-label"></label>
                <input asp-for="PreviousState" class="form-control" value="Unknown" readonly />
                <span asp-validation-for="PreviousState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentState" class="control-label"></label>
                <input asp-for="CurrentState" class="form-control" value="Unknown" readonly />
                <span asp-validation-for="CurrentState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastCheck" class="control-label"></label>
                <input asp-for="LastCheck" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" readonly />
                <span asp-validation-for="LastCheck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastEmailsent" class="control-label"></label>
                <input asp-for="LastEmailsent" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" readonly />
                <span asp-validation-for="LastEmailsent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeInterval" class="control-label">Time Interval (in minutes)</label>
                <input asp-for="TimeInterval" class="form-control" />
                <span asp-validation-for="TimeInterval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
